body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(32, 23, 78);
    color: #fff;
}

header {
    background-color: #404182;
    padding: 20px;
}

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.navigation li {
    text-align: end;
    display: inline-block;
    margin-right: 20px;
}

.navigation a{
    text-align: left;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    color: #c0baba;
}

main {
    padding: 20px;
    margin: 0%;
}

.home {
    text-align: left;
    position: relative;
}

.home img ,.projects img{
    width: 100%;
    height: auto;
}

.home h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: #fff;
}

.home p {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    }
    .btn:hover{
        cursor: pointer;
        background-color: white;
        color: black;
        box-shadow: 0 0 5px white , 0 0 10px white,0 0 15px white;
        font-weight: bold;
    }
.about p{
    text-align: center;
}

.about,
.projects,
.contact ,.skills
{
    margin-top: 50px;
}


.about h2,
.projects h2,
.contact h2 ,
.skills h2{
    text-align: center;
    margin-bottom: 20px;
}
.projects{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    padding: 20px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 50%;
    max-width: 300px;

}
.projects h3{
    text-align: center;
}
